<h2>LOG IN</h2>

<form method='post' action="/check-login">
<label for="email-input"> Email </label>
<input type="email" id="email-input" name="emailValue">
<br>

<label for="password-input"> Password</label>
<input type="password" id="password-input" name="passwordValue">
<br>

<button> Log In </button>
</form>
