<h2>Pizza Results</h2>

<ol>
  <li> <a href="http://nizaroni.pizza">Nizaroni Pizza</a></li>
  <li><a href="http://pizza.com">Pizza.com</a></li>
  <li><a href="http://dominos.com">Dominos.com</a></li>
</ol>

<img src="/images/giphy.gif" alt="">
