<h2>RESULTS</h2>

<p>this is <b> step #2</b> of a form submission process</p>

<p>You searched for <i><%= theSearch %> </i>.</p>

<ol>
  <li>
    SPONSORED:
    <a href="http://nizaroni.pizza">Nizaroni Pizza</a>
  </li>
  <li><a href="http://pizza.com">Pizza.com</a></li>
  <li><a href="http://dominos.com">Dominos.com</a></li>
</ol>


<img src="/images/bored.gif" height="100" alt="">
